
/\[CP\] The Writer, The Witch & The Wardrobe Assistant/.vs
*.zip
*.zip
/\[CP\] The Writer, The Witch & The Wardrobe Assistant
*.zip
*.vsidx
*.zip
.vs/slnx.sqlite
.vs/TheWriterTheWitchAndTheWardrobeAssistant/FileContentIndex/22929233-ded1-4db4-817d-7330d809e8d3.vsidx
.vs/TheWriterTheWitchAndTheWardrobeAssistant/FileContentIndex/3c6214c1-52c4-44a9-8548-b29c38d45851.vsidx
.vs/TheWriterTheWitchAndTheWardrobeAssistant/FileContentIndex/3fa9cd3b-a25a-41b6-a7cf-142e771b157f.vsidx
.vs/TheWriterTheWitchAndTheWardrobeAssistant/FileContentIndex/e27566f1-1413-42ab-86ef-17770008c728.vsidx
.vs/TheWriterTheWitchAndTheWardrobeAssistant/FileContentIndex/e91269c7-6eeb-4338-92e0-5b850ecab381.vsidx
.vs/TheWriterTheWitchAndTheWardrobeAssistant/v17/.wsuo
.vs/VSWorkspaceState.json
\[CP\] The Writer, The Witch & The Wardrobe Assistant Alpha.zip
